* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  list-style: none;
}

:root {
  --primary: #016ca8;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
  --danger:#f04747;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
} 

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--black); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6BD1FF; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #016ca8; 
}

@media (max-width:465px){
  table{
    visibility: hidden;
    display: none;
  }
}

@media (max-width:580px){
  .descricao,
  .cor{
    visibility: hidden;
    display: none;
  }
}